@model InventoryCoreVisualStudio.Models.Caliber

@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>
<h4>Caliber</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.Name</h3>
            </div>
            <div class="panel-body">
                <p>Decimal Size: @Model.DecimalSize</p>
                <p>Metric Size: @Model.MetricSize</p>
            </div>
            <div class="panel-footer">
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="btn btn-info" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div> 
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DecimalSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DecimalSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MetricSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetricSize)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
