@model InventoryCoreVisualStudio.ViewModels.ItemEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <select asp-for="Manufacturer" class="form-control" asp-items="@Model.Manufacturers"></select>
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartNumber" class="control-label"></label>
                <input asp-for="PartNumber" class="form-control" />
                <span asp-validation-for="PartNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.Calibers)
                @Html.DropDownListFor(m => m.Calibers, new SelectList(@Model.Calibers, "Id","Name", @Model.SelectedCaliber.Id.ToString()) , "--Select Caliber--")*@
                <label asp-for="Caliber" class="control-label"></label>
                <select asp-for="Caliber" class="form-control" asp-items="@Model.Calibers"></select>
                <span asp-validation-for="Caliber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control" asp-items="@Model.Categories"></select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FiringAction" class="control-label"></label>
                <select asp-for="FiringAction" class="form-control" asp-items="@Model.FiringActions"></select>
                <span asp-validation-for="FiringAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Platform" class="control-label"></label>
                <select asp-for="Platform" class="form-control" asp-items="@Model.Platforms"></select>
                <span asp-validation-for="Platform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseDate" class="control-label"></label>
                <input asp-for="PurchaseDate" class="form-control" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasePrice" class="control-label"></label>
                <input asp-for="PurchasePrice" class="form-control" />
                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseFrom" class="control-label"></label>
                <input asp-for="PurchaseFrom" class="form-control" />
                <span asp-validation-for="PurchaseFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Retailer" class="control-label"></label>
                <select asp-for="Retailer" class="form-control" asp-items="@Model.Retailers"></select>
                <span asp-validation-for="Retailer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListPrice" class="control-label"></label>
                <input asp-for="ListPrice" class="form-control" />
                <span asp-validation-for="ListPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <select asp-for="Location" class="form-control" asp-items="@Model.Locations"></select>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightUnitOfMeasure" class="control-label"></label>
                <input asp-for="WeightUnitOfMeasure" class="form-control" />
                <span asp-validation-for="WeightUnitOfMeasure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoldDate" class="control-label"></label>
                <input asp-for="SoldDate" class="form-control" />
                <span asp-validation-for="SoldDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoldTo" class="control-label"></label>
                <input asp-for="SoldTo" class="form-control" />
                <span asp-validation-for="SoldTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoldPrice" class="control-label"></label>
                <input asp-for="SoldPrice" class="form-control" />
                <span asp-validation-for="SoldPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
