@model PaginatedList<InventoryCoreVisualStudio.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:<input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFileter"]">
@*                        @Html.DisplayNameFor(model => model.Name)*@
                        Name
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["ModelSortParm"]" asp-route-currentFilter="@ViewData["CurrentFileter"]">
@*                        @Html.DisplayNameFor(model => model.Model)*@
                        Model
                    </a>
                </th>
                <th>
@*                    @Html.DisplayNameFor(model => model.PartNumber)*@
                    PartNumber
                </th>
                <th>
@*                    @Html.DisplayNameFor(model => model.FiringAction)*@
                    FiringAction
                </th>
                <th>
@*                    @Html.DisplayNameFor(model => model.Color)*@
                    Color
                </th>
                <th>
@*                    @Html.DisplayNameFor(model => model.PurchaseDate)*@
                    PurchaseDate
                </th>
                <th>
@*                    @Html.DisplayNameFor(model => model.PurchasePrice)*@
                    PurchasePrice
                </th>
                <th>
@*                    @Html.DisplayNameFor(model => model.PurchaseFrom)*@
                    PurchaseFrom
                </th>
                <th>
@*                    @Html.DisplayNameFor(model => model.ListPrice)*@
                    ListPrice
                </th>
                <th>
@*                    @Html.DisplayNameFor(model => model.SerialNumber)*@
                    SerialNumber
                </th>
                <th>
@*                    @Html.DisplayNameFor(model => model.Weight)*@
                    Weight
                </th>
                <th>
@*                    @Html.DisplayNameFor(model => model.WeightUnitOfMeasure)*@
                    WeightUnitOfMeasure
                </th>
                <th>
@*                    @Html.DisplayNameFor(model => model.SoldDate)*@
                    SoldDate
                </th>
                <th>
@*                    @Html.DisplayNameFor(model => model.SoldTo)*@
                    SoldTo
                </th>
                <th>
@*                    @Html.DisplayNameFor(model => model.SoldPrice)*@
                    SoldPrice
                </th>
            <th>
@*                @Html.DisplayNameFor(model => model.Caliber)*@
                Caliber
            </th>
            <th>
@*                @Html.DisplayNameFor(model => model.Category)*@
                Category
            </th>
            <th>
@*                @Html.DisplayNameFor(model => model.Location)*@
                Location
            </th>
            <th>
@*                @Html.DisplayNameFor(model => model.Manufacturer)*@
                Manufacturer
            </th>
            <th>
@*                @Html.DisplayNameFor(model => model.Platform)*@
                Platform
            </th>
            <th>
@*                @Html.DisplayNameFor(model => model.Retailer)*@
                Retailer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiringAction.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightUnitOfMeasure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoldDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoldTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoldPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caliber.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Retailer.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>